@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* Navigation */
nav{
    width: 100%; 
    height: 60px;
    background-color: #FBFBFB;
    box-shadow: 0px 3px 20px rgba(90, 90, 90, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Concert One', cursive;
    letter-spacing: 3px;
    color: #685044;
}
nav .logo {
    color: #59C3C3;
    font-size: 24px;
    padding-left: 20px;
    padding: 10px 0 0 20px;
}
nav ul {
    padding: 15px 20px 0 0;
    width: 350px;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #685044;
}
nav ul li a:hover {
    filter: brightness(150%);
}

/*carrousel */
.carrousel{
    z-index: -1;
    width: 100%;
    height: 115vh;
    overflow: hidden;
    background: linear-gradient(113.12deg, #F4D8C1 2.27%, #BF8657 95.48%);

}
.container-img{
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}
.container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.indicator{
    top: -40px;
    left: 50%;
    translate: -50%;
    position: relative;
    width: 300px;
    height: 15px;
    display: flex;
    justify-content: space-between;
}
.indicator>div{
    height: inherit;
    width: 15px;
    background-color: #fdfdfd;
    border-radius: 50%;
}

/* feature */
.feature {
    margin: 50px 0px 50px 0px;
    width: 100%;
    height: 1050px;
    box-shadow: 0px 0px 20px 5px rgba(104, 80, 68, 0.3);
}
.feature>.tFeature{
    padding: 50px 0 0 50px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 38px;
    font-family: 'Concert One', cursive;
    letter-spacing: 3px;
    color: #685044;
    
}
.feature > .contImg{
    width: 100%;
    height: 970px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 15px;
    padding: 50px 50px 25px 50px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}
.footer {
    background-color: #3A405A;
    min-height: 128px;
}